<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/xblog.css">
    <link rel="shortcut icon" href="/images/Home.ico"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/npm.js"></script>
    <script type="text/javascript" src="/js/default-main.js"></script>
    <title>心有猛虎，细嗅蔷薇</title>
</head>
<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/index.html">主页</a>
            <a class="blog-nav-item" href="/index.html">文章</a>
            <a class="blog-nav-item active" href="/api.html">API</a>

            <div class="blog-nav-login-status">
                <div id="logoutArea" class="hide">
                    <a href="#" id="userDisplayName" class="blog-nav-item">null</a>
                    <span class="welcome-title">欢迎回来！&nbsp&nbsp</span>
                    <a href="#" id="logout" class="blog-nav-item">注销</a>
                </div>
                <div id="login_register" class="show">
                    <a href="/login.html" class="blog-nav-item">登录</a>
                    <a href="/register.html" class="blog-nav-item">注册</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">心有猛虎，细嗅蔷薇</h1>
        <p class="lead blog-description">写点代码虚度光阴.</p>
    </div>

    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <h4>1、服务器接受数据。支持此xml、json、x-www-form-urlencoded三种格式.</h4> 
                <h4>2、返回数据支持xml、json格式。</h4>
                <h4>例： <a href="http://www.huxuemin.com/api/article.xml">http://www.huxuemin.com/api/articles.xml</a>
                    、<a href="http://www.huxuemin.com/api/article.json">http://www.huxuemin.com/api/articles.json</a>
                </h4>
                <div class="blog-post-content">
                    <div>
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#panelArticle" data-toggle="tab">文章</a>
                            </li>
                            <li>
                                <a href="#panelDiscuss" data-toggle="tab">评论</a>
                            </li>
                            <li>
                                <a href="#panelUser" data-toggle="tab">用户</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active" id="panelArticle">
                                <span>
                                    1、获取文章目录: /api/article。请求类型：GET。
                                </span>
                                <p>
                                    2、文章内容：/api/article/{articleId}。请求类型：GET。<br />
                                    例：/api/article/11804505069905。
                                </p>
                                <p>
                                    3、删除文章：/api/article/{articleId}。请求类型：DELETE。<br />
                                 </p>
                                 <p>
                                    4、关闭文章评论：/api/article/{articleId}/discuss/close。请求类型：PUT。
                                 </p>
                                 <p>
                                    5、打开文章评论：/api/article/{articleId}/discuss/open。请求类型：PUT。
                                 </p>
                                 <p>
                                    6、查询文章是否可以评论：/api/article/{articleId}/discuss/canreply。请求类型：GET。
                                 </p>
                                 <p>
                                    7、发布新文章：/api/article。请求类型：POST。
                                 </p>
                                 <p>
                                    8、修改文章：/api/article/{articleId}。请求类型：PUT。
                                 </p>
                            </div>
                            <div class="tab-pane" id="panelDiscuss">
                                <p>
                                    1、文章所有评论：/api/article/{articleId}/discuss。请求类型：GET。
                                </p>
                                <p>
                                    2、评论页面数：/api/article/{articleId}/discuss/page，每页10条评论。请求类型：GET。
                                </p>
                                <p>
                                    3、获取指定页评论：/api/article/{articleId}/discuss/page/{number}，请求类型：GET。
                                </p>
                                <p>
                                    4、回复文章：/api/article/{articleId}/discuss，请求类型：POST。
                                </p>
                                <p>
                                    5、回复文章评论：/api/article/{articleId}/discuss/{discussId}，请求类型：POST。
                                </p>
                            </div>
                            <div class="tab-pane" id="panelUser">
                                <p>
                                    1、用户登录信息：/api/login，请求类型：GET。
                                </p>
                                <p>
                                    2、用户登录：/api/login，请求类型：POST。
                                </p>
                                <p>
                                    3、用户退出：/api/login，请求类型：DELETE。
                                </p>
                                <p>
                                    4、是否具有修改该用户资料权限：/api/user/{username}/canedit，请求类型：GET。
                                </p>
                                <p>
                                    5、获取用户资料：/api/user/{username}，请求类型：GET。
                                </p>
                                <p>
                                    6、修改该用户资料：/api/user/{username}，请求类型：PUT。
                                </p>
                                <p>
                                    7、用户注册：/api/user，请求类型：POST。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

    </div><!-- /.row -->

</div><!-- /.container -->
<script>
    $(document).ready(
        function () {
            $.simpleBlog.refreshUserNameArea();
        });
</script>
</body>
</html>

