<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/xblog.css">
    <link rel="shortcut icon" href="/images/Home.ico"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/npm.js"></script>
    <script type="text/javascript" src="/js/default-main.js"></script>
    <title>心有猛虎，细嗅蔷薇</title>
</head>
<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/index.html">主页</a>
            <a class="blog-nav-item active" href="/index">文章</a>
            <a class="blog-nav-item" href="/api">API</a>

            <div class="blog-nav-login-status">
                <div id="logoutArea" class="hide">
                    <a href="#" id="userDisplayName" class="blog-nav-item">null</a>
                    <span class="welcome-title">欢迎回来！&nbsp&nbsp</span>
                    <a href="#" id="logout" class="blog-nav-item">注销</a>
                </div>
                <div id="login_register" class="show">
                    <a href="/login.html" class="blog-nav-item">登录</a>
                    <a href="/register.html" class="blog-nav-item">注册</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">心有猛虎，细嗅蔷薇</h1>
        <p class="lead blog-description">写点代码虚度光阴.</p>
    </div>

    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <div id="articleTitle" class="blog-post-title"></div>
                <div id="articleContent" class="blog-post-content"></div>
            </div><!-- /.blog-post -->

            <div class="blog-discuss">
                <span>评论列表：</span>
                <div class="line"></div>
                <div id="discussArea" class="blog-discuss-area"></div>
                <div id="discussPage"></div>
                <form id="reply" accept-charset="UTF-8" method="post">
                    <fieldset>
                        <label>发表评论：</label>
                        <div id="discussError" class="clsError"></div>
                        <textarea name="content" placeholder="所在用户组暂不支持评论！" id="content" class="blog-discuss-comments" disabled type="text"></textarea>
                        <button id="contentsubmit" type="submit" disabled>提交</button>
                    </fieldset>
                </form>
            </div>
        </div><!-- /.blog-main -->

    </div><!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer">
    <p><a href="http://www.miitbeian.gov.cn/">粤ICP备15102090号-1</a> | <a href="mailto:hu-xuemin@qq.com/">联系作者：hu-xuemin@qq.com</a>
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<script>
    var articleId = 0;
    var curDiscussPage = 1;
    var refreshfun;
    $(document).ready(function () {
        articleId = $.simpleBlog.getArticleId();
        /*  alert(id); */
        if (articleId) {
            loadArticle(articleId);
            refreshDiscuss(1);
            initReply();
            refreshDiscussPageNav();
            canDiscuss();
        } else {
            $("#divError").show().html("文章不存在！");
        }
        $.simpleBlog.refreshUserNameArea();
    });

    function initReply() {
        $("#reply").asynSubmit(
            {
                beforeSubmit: function () {
                    var comment = $("#content").val().trim();
                    if (comment.length < 5) {
                        $("#discussError").show().html("评论不能少于五个字！");
                        return false;
                    }
                    return true;
                },
                successSubmit: function (data) {
                    $("#content").val("");
                    refreshDiscussLastPage();
                },
                errorSubmit: function (XMLHttpRequest, textStatus,
                                       errorThrown) {
                    $("#discussError").show().html(
                        XMLHttpRequest.responseJSON.message);
                }
            });
    }

    function loadArticle(id) {
        $.ajax({
            url: "/api/article/" + id,
            type: "GET",
            dataType: 'json',
            success: function (data) {
                $("#reply").attr("action",
                    "/api/article/" + id + "/discuss");
                $("#articleTitle").html(data.articleTitle);
                $("#articleContent").html(data.articleContent);
            },
            error: function () {
                $("#divError").show().html("文章不存在！");
            }
        });
    }

    function refreshDiscuss(page) {
        if (page > 0) {
            clearTimeout(refreshfun);
            curDiscussPage = page;

            $.ajax({
                url: "/api/article/" + articleId + "/discuss/page/"
                + page,
                type: "GET",
                dataType: 'json',
                data: {
                    "articleid": articleId,
                    "refresh": "true"
                },
                success: function (data) {
                    refreshDiscussArea(data);
                    refreshDiscussPageNav();
                    refreshfun = setTimeout("refreshDiscuss("
                        + curDiscussPage + ")", 50000);
                },
                error: function () {
                    var prePage = curDiscussPage - 1;
                    if (prePage > 0) {
                        curDiscussPage = prePage;
                    }
                    refreshfun = setTimeout("refreshDiscuss("
                        + curDiscussPage + ")", 50000);
                }
            });
        }
    }

    function refreshDiscussArea(data) {
        var discussarea = $("#discussArea");
        discussarea.empty();
        for (var i = 0; i < data.discusses.length; i++) {
            discussarea.append(
                "<div class=\"panel panel-info\"><div class=\"panel-heading\">"
                + "<a href=/user/"
                + $.trim(data.discusses[i].owerUserName)
                + " class=\"navbar-link\">"
                + data.discusses[i].owerDisplayName + "</a>"
                + "  " + data.discusses[i].createOn
                + "</div><div class=\"panel-body\">"
                + data.discusses[i].content + "</div></div>");
        }
    }

    function refreshDiscussLastPage() {
        $.ajax({
            url: "/api/article/" + articleId + "/discuss/page",
            type: "GET",
            dataType: 'json',
            success: function (data) {
                if (data.total > 0) {
                    refreshDiscuss(data.total);
                }
            },
            error: function () {
            }
        });
    }

    function canDiscuss() {
        $.ajax({
            url: "/api/article/" + articleId + "/discuss/canreply",
            type: "GET",
            dataType: 'json',
            success: function (data) {
            	$("#content").attr("placeholder","");
                $("#content").removeAttr("disabled");
                $("#contentsubmit").removeAttr("disabled");
            },
            error: function () {
                $("#content").attr("placeholder","所在用户组暂不支持评论！");
                $("#content").addAttr("disabled");
                $("#contentsubmit").addAttr("disabled");
            }
        });
    }
    
    function refreshDiscussPageNav() {
        $.ajax({
            url: "/api/article/" + articleId + "/discuss/page",
            type: "GET",
            dataType: 'json',
            success: function (data) {
                if (data.total > 0) {
                    var discusspage = $("#discussPage");
                    discusspage.empty();
                    discusspage.append("<ul class=\"pagination\"></ul>");
                    var ul = discusspage.find("ul");
                    ul.append("<li><a href=\"javascript:refreshDiscuss("
                        + (curDiscussPage - 1)
                        + ")\">&laquo;</a></li>");
                    for (var i = 1; i <= data.total; i++) {
                        if (curDiscussPage == i) {
                            ul.append("<li class=\"active\"><a href=\"javascript:refreshDiscuss("
                                + i
                                + ")\">"
                                + i
                                + "</a></li>");
                        } else {
                            ul.append("<li><a href=\"javascript:refreshDiscuss("
                                + i
                                + ")\">"
                                + i
                                + "</a></li>");
                        }
                    }
                    ul.append("<li><a href=\"javascript:refreshDiscuss("
                        + (curDiscussPage + 1)
                        + ")\">&raquo;</a></li>");
                }
            },
            error: function () {
                $("#divError").show().html("文章不存在！");
            }
        });
    }

</script>
</body>
</html>

