<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/xblog.css">
    <link rel="shortcut icon" href="/images/Home.ico"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/npm.js"></script>
    <script type="text/javascript" src="/js/default-main.js"></script>
    <title>心有猛虎，细嗅蔷薇</title>
</head>
<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/index.html">主页</a>
            <a class="blog-nav-item" href="/index">文章</a>
            <a class="blog-nav-item" href="/api">API</a>

            <div class="blog-nav-login-status">
                <div id="logoutArea" class="hide">
                    <a href="#" id="userDisplayName" class="blog-nav-item">null</a>
                    <span class="welcome-title">欢迎回来！&nbsp&nbsp</span>
                    <a href="#" id="logout" class="blog-nav-item">注销</a>
                </div>
                <div id="login_register" class="show">
                    <a href="login.html" class="blog-nav-item active">登录</a>
                    <a href="register.html" class="blog-nav-item">注册</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">心有猛虎，细嗅蔷薇</h1>
        <p class="lead blog-description">写点代码虚度光阴.</p>
    </div>

    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <div class="line"></div>
                <div id="divError" class="clsError"></div>
                <div id="login-form" class="blog-login-form">
                    <form id="lf" action="/api/login" accept-charset="UTF-8" method="post">
                        <table>
                            <tbody>
                            <tr>
                                <td style="text-align: right;"><label for="loginid">登录名:</label>
                                </td>
                                <td style="text-align: left;">
                                    <div id="loginid_div" class="control-group">
                                        <div class="controls">
                                            <input name="loginId" id="loginid" tabindex="1"
                                                   placeholder="用户名" type="text">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;"><label for="password">密码:</label>
                                </td>
                                <td style="text-align: left;">
                                    <div id="password_div" class="control-group">
                                        <div class="controls">
                                            <input name="password" id="password" tabindex="2"
                                                   placeholder="密码" type="password">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="register.html">注册</a>
                                </td>
                                <td style="text-align: right;">
                                    <input name="login" value="登录 »" tabindex="5" type="submit">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <script>
                    //<![CDATA[
                    $('#loginid').focus();
                    //]]>
                </script>
                <div style="clear: both;"></div>
            </div>
        </div><!-- /.blog-main -->

    </div><!-- /.row -->

</div><!-- /.container -->
	<script>
		$(document).ready(
			function() {
			    $("#lf").asynSubmit({
			        beforeSubmit : function() {
			            return true;
			        },
			        successSubmit : function(data) {
			            $("#divError").show().html("恭喜您登录成功，正在为您跳转到上一个浏览页面...");
						$.simpleBlog.jump(4,"index");
						$("#login-form").hide();
					},
					errorSubmit : function(XMLHttpRequest,textStatus, errorThrown) {
						$("#divError").show().html(XMLHttpRequest.responseJSON.message);
						$("#loginid").val("").focus();
						$("#loginid_div").addClass("error");
					    $("#password").val("");
					    $("#password_div").addClass("error");
					}
				});
		});
	</script>
</body>
</html>

