<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/xblog.css">
    <link rel="shortcut icon" href="/images/Home.ico"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/npm.js"></script>
    <script type="text/javascript" src="/js/default-main.js"></script>
    <title>心有猛虎，细嗅蔷薇</title>
</head>
<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/index.html">主页</a>
            <a class="blog-nav-item" href="/index.html">文章</a>
            <a class="blog-nav-item" href="/api">API</a>

            <div class="blog-nav-login-status">
                <div id="logoutArea" class="hide">
                    <a href="#" id="userDisplayName" class="blog-nav-item">null</a>
                    <span class="welcome-title">欢迎回来！&nbsp&nbsp</span>
                    <a href="#" id="logout" class="blog-nav-item">注销</a>
                </div>
                <div id="login_register" class="show">
                    <a href="/login.html" class="blog-nav-item">登录</a>
                    <a href="/register.html" class="blog-nav-item">注册</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">心有猛虎，细嗅蔷薇</h1>
        <p class="lead blog-description">写点代码虚度光阴.</p>
    </div>
    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <div class="line"></div>
                    <div id="content" class="blog-register-content">
                        <div id="divError" class="clsError"></div>
                        <form class="new_user form-inline" id="change_password"
                              accept-charset="UTF-8">
                            <div class="blog-register-box blog-register-tabular">
                                <div id="old_password_div" class="control-group">
                                    <div class="form-group">
                                        <label for="old_password"> 原密码<span class="required">
                                                * &nbsp;</span>
                                        </label> <input size="25" name="old_password" id="old_password"
                                                        type="password"/>
                                    </div>
                                </div>

                                <div id="user_password_div" class="control-group">
                                    <div class="form-group">
                                        <label for="new_password"> 新密码<span class="required">
                                                * &nbsp;</span>
                                        </label> <input size="25" name="new_password" id="new_password"
                                                        type="password"/> <em class="info">至少需要 8 个字符。</em>
                                    </div>
                                </div>

                                <div id="user_password_confirm_div" class="control-group">
                                    <div class="form-group">
                                        <label for="user_password_confirm"> 确认<span
                                                class="required"> * &nbsp;</span>
                                        </label> <input size="25" name="user_password_confirm"
                                                        id="user_password_confirm" type="password"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="form-group">
                                        <a style="margin-left: 60px;" href="／login.html">登录</a> <input
                                            style="margin-left: 180px;" name="commit" value="提交 »"
                                            type="submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div><!-- /.blog-main -->

    </div><!-- /.row -->

</div><!-- /.container -->
<script>
    $(document).ready(
        function () {
            var username = $.simpleBlog.getUserName();
            $("#change_password").attr("action","/api/user/" + username + "/password");
            $("#change_password").attr("method","PUT");
            $("#change_password").asynSubmit({
                beforeSubmit: function () {
                    var oldPassword = $("#old_password").val();
                    var newPassword = $("#new_password").val();
                    var newPassword2 = $("#user_password_confirm").val();
                    var loginReg = /^[a-zA-Z][a-zA-Z0-9_]*$/;
                    if (username.length < 5 || username .match(loginReg) == null) {
                        $("#old_password").val("").focus();
                        $("#old_password_div").addClass("error");
                        $("#divError").show().html("密码名至少由字符、数字或下划线两者组合，请重新输入！");
                        return false;
                    }
                    if (newPassword == newPassword2) {
                        var passwordReg = /^[a-zA-Z](?:[\S]*[0-9_])+[\S]*$/;
                        if (newPassword.length < 5 || newPassword.match(passwordReg) == null) {
                            $("#new_password").val("").focus();
                            $("#user_password_div").addClass("error");
                            $("#user_password_confirm").val("");
                            $("#user_password_confirm_div").addClass("error");
                            $("#divError").show().html("密码名至少由字符、数字或下划线两者组合，请重新输入！");
                            return false;
                        }
                    } else {
                        $("#new_password").val("").focus();
                        $("#user_password_div").addClass("error");
                        $("#user_password_confirm").val("");
                        $("#user_password_confirm_div").addClass("error");
                        $("#divError").show().html("两次输入密码不一致，请重新输入！");
                        return false;
                    }
                    return true;
                },
                successSubmit: function (data) {
                    $("#divError").show().html("恭喜您密码修改成功，正在为您跳转到登录页面...");
                    $.simpleBlog.jump(3,"/login.html");
                    $("#change_password").hide();
                },
                errorSubmit: function (XMLHttpRequest,textStatus, errorThrown) {
                    $("#old_password").val("").focus();
                    $("#old_password_div").addClass("error");
                    $("#divError").show().html(XMLHttpRequest.responseJSON.message);
                }
            });
            $.simpleBlog.refreshUserNameArea();
        });
</script>
</body>
</html>

