<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/xblog.css">
    <link rel="shortcut icon" href="/images/Home.ico"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/npm.js"></script>
    <script type="text/javascript" src="/js/default-main.js"></script>
    <title>心有猛虎，细嗅蔷薇</title>
</head>
<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/index.html">主页</a>
            <a class="blog-nav-item" href="/index.html">热门文章</a>
            <a class="blog-nav-item" href="/api.html">API</a>

            <div class="blog-nav-login-status">
                <div id="logoutArea" class="hide">
                    <a href="#" id="userDisplayName" class="blog-nav-item">null</a>
                    <span class="welcome-title">欢迎回来！&nbsp&nbsp</span>
                    <a href="#" id="logout" class="blog-nav-item">注销</a>
                </div>
                <div id="login_register" class="show">
                    <a href="/login.html" class="blog-nav-item">登录</a>
                    <a href="/register.html" class="blog-nav-item">注册</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">心有猛虎，细嗅蔷薇</h1>
        <p class="lead blog-description">写点代码虚度光阴.</p>
    </div>
    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <div class="blog-post-content">
                    <div id="divError" class="clsError"></div>
                    <div>
                        <p class="navbar-text pull-right">
                            <button id="edit" class="btn-primary">编辑资料</button>
                        </p>
                    </div>
                    <form class="form-horizontal" id="user_info" role="form" accept-charset="UTF-8" method="PUT">
                        <fieldset>
                            <div id="legend" class="">
                                <legend class="">个人信息</legend>
                            </div>
                            <input name="userName" id="username" class="input-xlarge"
                                   style="display: none" type="text" readonly="true">
                            <div class="form-group">
                                <!-- Text input-->
                                <label class="col-sm-2 control-label" for="firstname">姓</label>
                                <div class="col-sm-6">
                                    <input name="firstName" id="firstname" class="form-control"
                                           type="text" readonly="true">
                                    <p class="help-block">姓：张</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Text input-->
                                <label class="col-sm-2 control-label" for="lastname">名</label>
                                <div class="col-sm-6">
                                    <input name="lastName" id="lastname" class="form-control" type="text"
                                           readonly="true">
                                    <p class="help-block">名：三</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Text input-->
                                <label class="col-sm-2 control-label" for="country">国籍</label>

                                <div class="col-sm-6">
                                    <input name="country" id="country" class="form-control"
                                           type="text" readonly="true">

                                    <p class="help-block">国籍：中国</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Select Basic -->
                                <label class="col-sm-2 control-label">语言</label>

                                <div class="col-sm-6">
                                    <select name="lang" id="lang" disabled="true">
                                        <option value="">(auto)</option>
                                        <option value="sq">Albanian (Shqip)</option>
                                        <option value="ar">Arabic (عربي)</option>
                                        <option value="az">Azerbaijanian (Azeri)</option>
                                        <option value="eu">Basque (Euskara)</option>
                                        <option value="bs">Bosnian (Bosanski)</option>
                                        <option value="bg">Bulgarian (Български)</option>
                                        <option value="ca">Catalan (Català)</option>
                                        <option value="hr">Croatian (Hrvatski)</option>
                                        <option value="cs">Czech (Čeština)</option>
                                        <option value="da">Danish (Dansk)</option>
                                        <option value="nl">Dutch (Nederlands)</option>
                                        <option value="en">English</option>
                                        <option value="en-GB">English (British)</option>
                                        <option value="et">Estonian (Eesti)</option>
                                        <option value="fi">Finnish (Suomi)</option>
                                        <option value="fr">French (Français)</option>
                                        <option value="gl">Galician (Galego)</option>
                                        <option value="de">German (Deutsch)</option>
                                        <option value="el">Greek (Ελληνικά)</option>
                                        <option value="he">Hebrew (עברית)</option>
                                        <option value="hu">Hungarian (Magyar)</option>
                                        <option value="id">Indonesian (Bahasa Indonesia)</option>
                                        <option value="it">Italian (Italiano)</option>
                                        <option value="ja">Japanese (日本語)</option>
                                        <option value="ko">Korean (한국어)</option>
                                        <option value="lv">Latvian (Latviešu)</option>
                                        <option value="lt">Lithuanian (lietuvių)</option>
                                        <option value="mk">Macedonian (Македонски)</option>
                                        <option value="mn">Mongolian (Монгол)</option>
                                        <option value="no">Norwegian (Norsk bokmål)</option>
                                        <option value="fa">Persian (پارسی)</option>
                                        <option value="pl">Polish (Polski)</option>
                                        <option value="pt">Portuguese (Português)</option>
                                        <option value="pt-BR">Portuguese/Brasil
                                            (Português/Brasil)
                                        </option>
                                        <option value="ro">Romanian (Română)</option>
                                        <option value="ru">Russian (Русский)</option>
                                        <option value="sr-YU">Serbian (Srpski)</option>
                                        <option value="sr">Serbian Cyrillic (Српски)</option>
                                        <option selected="selected" value="zh">Simplified
                                            Chinese (简体中文)
                                        </option>
                                        <option value="sk">Slovak (Slovenčina)</option>
                                        <option value="sl">Slovene (Slovenščina)</option>
                                        <option value="es">Spanish (Español)</option>
                                        <option value="es-PA">Spanish/Panama (Español/Panamá)</option>
                                        <option value="sv">Swedish (Svenska)</option>
                                        <option value="th">Thai (ไทย)</option>
                                        <option value="zh-TW">Traditional Chinese (繁體中文)</option>
                                        <option value="tr">Turkish (Türkçe)</option>
                                        <option value="uk">Ukrainian (Українська)</option>
                                        <option value="vi">Vietnamese (Tiếng Việt)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Text input-->
                                <label class="col-sm-2 control-label" for="profession">职业</label>

                                <div class="col-sm-6">
                                    <input name="profession" id="profession" class="form-control"
                                           type="text" readonly="true">

                                    <p class="help-block">职业：软件工程师</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Text input-->
                                <label class="col-sm-2 control-label" for="qq">QQ</label>

                                <div class="col-sm-6">
                                    <input name="qq" id="qq" class="form-control" type="text"
                                           readonly="true">
                                    <p class="help-block">QQ：10000</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Text input-->
                                <label class="col-sm-2 control-label" for="phonenum">电话号码</label>

                                <div class="col-sm-6">
                                    <input name="phoneNum" id="phonenum" class="form-control"
                                           type="text" readonly="true">

                                    <p class="help-block">电话号码：13088888888</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Text input-->
                                <label class="col-sm-2 control-label" for="wechat">微信</label>

                                <div class="col-sm-6">
                                    <input name="wechat" id="wechat" class="form-control"
                                           type="text" readonly="true">

                                    <p class="help-block">微信号码</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Text input-->
                                <label class="col-sm-2 control-label" for="email">邮箱</label>

                                <div class="col-sm-6">
                                    <input name="email" id="email" class="form-control" type="text"
                                           readonly="true">

                                    <p class="help-block">微信号码</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Select Basic -->
                                <label class="col-sm-2 control-label">性别</label>

                                <div class="col-sm-6">
                                    <select name="sex" id="sex" class="form-control" disabled="true">
                                        <option value="man">男</option>
                                        <option value="women">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- Textarea -->
                                <label class="col-sm-2 control-label">个人简介</label>

                                <div class="col-sm-6">
                                    <div class="textarea">
                                    <textarea name="profile" id="profile" type="" class=""
                                              readonly="true"> </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-2">
                                    <input name="save" class="btn btn-default" id="save" value="保存资料" type="submit"
                                           disabled>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="blog-footer">
    <p><a href="http://www.miitbeian.gov.cn/">粤ICP备15102090号-1</a> | <a href="mailto:hu-xuemin@qq.com/">联系作者：hu-xuemin@qq.com</a>
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
<script>
    var username;
    $(document)
        .ready(
            function () {
                username = $.simpleBlog.getUserName();
                if (username) {
                    $.ajax({
                        url: "/api/user/" + username,
                        type: "GET",
                        dataType: 'json',
                        data: {},
                        success: function (data) {
                            $("#user_info").attr("action",
                                "/api/user/" + username);
                            $("#username").val(data.userName);
                            $("#firstname").val(data.firstName);
                            $("#lastname").val(data.lastName);
                            $("#lang").attr('value', data.lang);
                            $("#country").val(data.country);
                            $("#sex").attr('value', data.sex);
                            $("#qq").val(data.qq);
                            $("#phonenum").val(data.phoneNum);
                            $("#wechat").val(data.wechat);
                            $("#email").val(data.email);
                            $("#profile").val(data.profile);
                            $("#profession").val(data.profession);
                        },
                        error: function () {
                            $("#divError").show().html("user不存在！");
                        }
                    });
                } else {
                    $("#divError").show().html("用户不存在！");
                }

                $("#edit").click(
                    function () {
                        $
                            .ajax({
                                url: "/api/user/"
                                + username
                                + "/canedit",
                                type: "GET",
                                dataType: 'json',
                                data: {},
                                success: function (data) {
                                    $("#firstname").attr(
                                        "readonly",
                                        false);
                                    $("#lastname").attr(
                                        "readonly",
                                        false);
                                    $("#lang").attr(
                                        'disabled',
                                        false);
                                    $("#country").attr(
                                        "readonly",
                                        false);
                                    $("#sex").attr(
                                        "disabled",
                                        false);
                                    $("#qq").attr(
                                        "readonly",
                                        false);
                                    $("#phonenum").attr(
                                        "readonly",
                                        false);
                                    $("#wechat").attr(
                                        "readonly",
                                        false);
                                    $("#email").attr(
                                        "readonly",
                                        false);
                                    $("#profile").attr(
                                        "readonly",
                                        false);
                                    $("#profession").attr(
                                        "readonly",
                                        false);
                                    $("#save").removeAttr(
                                        "disabled");
                                },
                                complete: function (XMLHttpRequest,
                                                    textStatus) {
                                }
                            });
                    });
                $("#user_info")
                    .asynSubmit(
                        {
                            beforeSubmit: function () {
                                return true;
                            },
                            successSubmit: function (data) {
                                $("#divError").show().html(
                                    "保存成功！");
                            },
                            errorSubmit: function (XMLHttpRequest,
                                                   textStatus, errorThrown) {
                                $("#divError")
                                    .show()
                                    .html(
                                        XMLHttpRequest.responseJSON.message);
                            }
                        });
                $.simpleBlog.refreshUserNameArea();
            });
</script>
</body>
</html>