<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="../css/default-home.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../images/Home.ico"/>
    <script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.js"></script>
    <script type="text/javascript" src="../js/default-main.js"></script>
    <title>心有猛虎，细嗅蔷薇</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3>
                心有猛虎，细嗅蔷薇
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="../index.html">主页</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="../index.html">Blog</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    第一篇文章
                </li>
            </ul>
            <h2>
                第一篇文章
            </h2>

            <p>
                本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
            </p>

            <legend>评论列表：</legend>
            <ul class="list-group">
                <li class="list-group-item">
                    胡学敏 1#：文章还不错
                </li>
                <li class="list-group-item">
                    周杰伦 2#：文章还不错
                </li>
            </ul>
            <form>
                <fieldset>
                    <label>发表评论：</label>
                    <textarea id="comments" class="comments" type="text"></textarea><br/>
                    <button class="btn" type="submit">提交</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>