<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<!-- 配置加载log4j.xml文件路径 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.xml</param-value>
	</context-param>

	<!-- 配置log4j.xml变量 -->
	<context-param>
		<param-name>rootLevel</param-name>
		<param-value>DEBUG</param-value>
	</context-param>

	<context-param>
		<param-name>loggingLevel</param-name>
		<param-value>INFO</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.huxuemin.xblog.web.ContextManager</listener-class>
	</listener>
	<!-- <servlet> <servlet-name>CommandServlet</servlet-name> <servlet-class>com.huxuemin.xblog.web.CommandServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>CommandServlet</servlet-name> 
		<url-pattern>/Command.interface</url-pattern> </servlet-mapping> -->
</web-app>
